<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="mySuit">
    <parameter name="name" value="Raenish"></parameter>
    <test name="mytest">
        <classes>
            <class name="RA_004_ParametersThroughTestNGXML"></class>
        </classes>
    </test>
</suite>